<!-- Movies -->
  <div id="menu-container">

    <div class="expanded row align-center" ng-repeat="row in mvCtrl.listMovies | searchFor:searchString">
      <div class="column small-12 medium-3" ng-repeat="mv in row">
        <div class="card">
          <div class="rating-number">{{mv.rating}}</div>
          <img class="card-img" src="assets/{{mv.imageUrl}}">
          <div class="card-section">
            {{mv.name | uppercase}}
            <p>{{mv.synopsis}}</p>
          </div>
        </div>
      </div>

  </div>
<!-- Movies -->